/* BookAnimation.css */

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    margin-top: 200px;
  }
  
  .book {
    position: absolute;
    width: 200px; /* Adjust the size of the book */
    height: 200px; /* Adjust the size of the book */
    background-image: url('https://m.media-amazon.com/images/I/61M74Vmgg+L._AC_UY327_FMwebp_QL65_.jpg'); /* Adjust the image file name */
    background-size: cover;
    border-radius: 5px;
    transform-origin: 25% 100%;
    animation: rotateBooks 300s linear infinite; /* Adjust the duration */
  }
  
  .book:nth-child(2) {
    background-image: url('https://m.media-amazon.com/images/I/71aVg5oMrtL._AC_UY327_FMwebp_QL65_.jpg'); /* Adjust the image file name */
    animation-delay: -60s; /* Adjust the delay */
  }
  .book:nth-child(3) {
    background-image: url('https://m.media-amazon.com/images/I/51kwJ4AKD+L._AC_UY327_FMwebp_QL65_.jpg'); /* Adjust the image file name */
    animation-delay: -120s;
}

.book:nth-child(4) {
    background-image: url('https://m.media-amazon.com/images/I/71Q6GgJxvNL._AC_UY327_FMwebp_QL65_.jpg'); /* Adjust the image file name */
    animation-delay: -180s;
}

.book:nth-child(5) {
    background-image: url('https://m.media-amazon.com/images/I/61rwhcVVn-L._AC_UY327_FMwebp_QL65_.jpg'); /* Adjust the image file name */
    animation-delay: -240s;
}

.book:nth-child(6) {
    background-image: url('https://m.media-amazon.com/images/I/61VLWGYJ3KL._AC_UY327_FMwebp_QL65_.jpg'); /* Adjust the image file name */
    animation-delay: -280s; 
}

  
  /* Add styles for other books as needed */
  
  @keyframes rotateBooks {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  